Adafruit-Blinka==1.3.3
Adafruit-PlatformDetect==1.0.3
Adafruit-PureIO==0.2.3
Adafruit-Python-DHT==1.4.0
click==6.7
Flask==1.0.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pkg-resources==0.0.0
rpi-ws281x==4.1.0
RPi.GPIO==0.6.5
spidev==3.4
sysv-ipc==1.0.0
Werkzeug==0.14.1
WTForms==2.2.1
