<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="{{ url_for('index') }}">PPM Hydroponics</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('ds18b20_sensor_0') }}">DS19B20 - Sensor 0 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('ds18b20_sensor_1') }}">DS19B20 - Sensor 1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('ds18b20_sensor_2') }}">DS19B20 - Sensor 2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('ds18b20_sensor_3') }}">DS19B20 - Sensor 3 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('ds18b20_sensor_4') }}">DS19B20 - Sensor 4 <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>