{% extends "base.html" %}

{% block content %}

<div class="row">
    <h1>DS18B20 Temp Sensors</h1>
</div>

<div class="row">
    <div class="col temp-sensor">
        <div id="temp-sensor-0">

        </div>
    </div>
    <div class="col temp-sensor">
        <div id="temp-sensor-1">

        </div>
    </div>
    <div class="col temp-sensor">
        <div id="temp-sensor-2">

        </div>
    </div>
    <div class="col temp-sensor">
        <div id="temp-sensor-3">

        </div>
    </div>
    <div class="col temp-sensor">
        <div id="temp-sensor-4">

        </div>
    </div>
</div>

{% endblock %}