<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Test!</title>

    <!-- Load custom CSS -->
    <link rel="stylesheet" href="%% url_for('static', filename='css/styles.css') %%">
</head>
<body>

    <!-- Mount the Vue.js app -->
    <div id="app">
        <p>{{ info.data }}</p>
    </div>
    
    <!-- Load the Vue.js development version -->
    <script src="%% url_for('static', filename='js/libs/vue.js')  %%"></script>

    <!-- Load the axios lib -->
    <script src="%% url_for('static', filename='js/libs/axios.js')  %%"></script>

    <!-- Load custom JS scripts -->
    <script src="%% url_for('static', filename='js/scripts.js') %%" ></script>
</body>
</html>